.sol-banner {
  object-fit: cover;
  height: 360px;
  width: 100%;
}
.sol-footer {
  object-fit: cover;
  height: 80px;
  width: 100%;
}
.sol-border {
  border: 2px solid black;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}
.contain-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
.center-text {
  align-items: center;
}
.shrink-hr {
  width: 50%;
  margin: 0 auto;
}
.proper-para {
  margin-top: 20px;
}
.proper-button {
  margin-bottom: 20px;
}
.col-style-earth-reflect {
  border: 5px solid black;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  background-color: black;
  margin-right: 70px;
}
.col-style-earth {
  border: 5px solid black;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  background-color: black;
  margin-left: 70px;
}
.col-style-crew {
  border: 2px solid black;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  background-color: black;
}
.page-style {
  --bs-pagination-disabled-bg: white;
}
.planet-bg {
  background-image: url("/solidBlack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 360px;
  width: 100%;
  background-color: black;
  position: relative;
}
.planet-title-var-1 {
  position: absolute;
  bottom: 60px;
  left: 150px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.planet-title-var-2 {
  position: absolute;
  bottom: 60px;
  left: 110px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.planet-title-var-3 {
  position: absolute;
  bottom: 60px;
  left: 50px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.flip-card {
  perspective: 1000px;
  margin-top: 15px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  transition: .6s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,.125);
}
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg)
}
.flip-card.horizontal.flipped .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card.horizontal .flip-card-back {
  transform: rotateY(180deg);
}
.flip-card.vertical.flipped .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card.vertical .flip-card-back {
  transform: rotateX(180deg);
}
.card-back-content {
  position: relative;
  padding: 1rem;
}
.codex-icon-right {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 32px;
  height: 32px;
  object-fit: contain;

  cursor: pointer;
}
.codex-icon-left {
  position: absolute;
  top: 8px;
  left: 8px;

  width: 32px;
  height: 32px;
  object-fit: contain;

  cursor: pointer;
}
.codex-marker {
  position: absolute;
  top: 8px;
  left: 18px;

  width: 22px;
  height: 22px;
  object-fit: contain;
}
.side-indicator {
  position: absolute;
  top: 8px;
  left: 8px;
}
.badge-collection {
  max-width: 50px;
  max-height: 50px;
}
.img-wrapper {
  border: 2px solid black;
  border-radius: 8px;
  background-color: black;
  padding: 0;
}
.text-wrapper {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 0;
}
.codex-text-wrapper {
  border: 2px solid black;
  border-radius: .25rem;
  padding: 15px;
  width: 35%;
  justify-self: center;
  box-shadow: 0 0 5px rgba(0,0,0,.125);
}
.fade-in-section {
  animation: sol-fade-in 1.6s ease-in;
}
@keyframes sol-fade-in {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.scroll-hint-footer {
  left: 0;
  bottom: 0;
  width: 100%;

  background: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;

  padding: 8px 0;
  font-size: 0.95rem;
}