.sol-banner {
  object-fit: cover;
  height: 350px;
  width: 100%;
}
.sol-footer {
  object-fit: cover;
  height: 80px;
  width: 100%;
}
.sol-border {
  border: 2px solid black;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}
.contain-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.center-text {
  align-items: center;
}
.col-style-earth-reflect {
  border: 5px solid black;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  background-color: black;
  margin-right: 70px;
}
.col-style-earth {
  border: 5px solid black;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  background-color: black;
  margin-left: 70px;
}
.shrink-hr {
  width: 50%;
  margin: 0 auto;
}
.proper-para {
  margin-top: 20px;
}
.proper-button {
  margin-bottom: 20px;
}